<div class="mt-3 col-md-8 col-xs-12">
    <h1>Text to Hand Writing</h1>
    <p>Our project will be based off Alex Graves’ paper, “Generating Sequences With Recurrent Neural Networks”. Graves explains how a Long Short-term Memory recurrent neural networks (RNN) can be used to convert a given text into a realistic handwriting.</p>
    <p>We plan on using tutorials to guide us in developing a model that would take a text and convert it into a realistic handwriting based off of the user’s  criteria. We will look into how “style” of the handwriting was previously defined in past models to then broaden our models’ ability to output a particular “style” of writing.</p>
    <p>Once the model is completed, we will work on  front-end that would allow users to input text that would be sent to the model to be converted into a particular handwriting style. We will also be using a cloud platform in order to deploy our model onto our website.</p>
    <h3>Contributors</h3>
    <ul>
      <li>Julia Kaplan</li>
      <li>Sanjib Paudel</li>
      <li>Madeline Udowa</li>
      <li>Ashlyn Woodward</li>
    </ul>
  </div>