<!DOCTYPE html>
<HTML>
<HEAD>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<META charset="UTF=8">
    <TITLE>Text to Hand Writing</TITLE>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</HEAD>
<BODY>
    <DIV class="container">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/text">Write Text</a>
            </li>
          </ul>
    </DIV>
</BODY>
</HTML>